@model IEnumerable<HundeProjekt.Models.CourseExercise>



@{
    ViewData["Title"] = "ViewCourse";
}
<style>
    #canvas-container {
        position: relative;
    }

    #dogTrainingCanvas {
        background-image: url('/images/Blackbitch.png');
        background-size: cover;
        width: 1295px; /* Juster størrelsen efter dine behov */
        height: 600px; /* Juster størrelsen efter dine behov */
    }
</style>

<h1>Ringormbane</h1>

<hr />

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var key in ViewData.ModelState.Keys)
            {
                @foreach (var error in ViewData.ModelState[key].Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}


@foreach (var courseExercise in Model)
{
    <h1>@courseExercise.CourseID</h1>
    <h1>@courseExercise.PositionX</h1>
    <h1>@courseExercise.PositionY</h1>
}



<div id="canvas-container">
    <canvas id="dogTrainingCanvas" width="1295" height="600"></canvas>
    <!-- Indsæt din canvas kode her -->
</div>




@* Exercises *@







<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
